<head>
</head>

<body>


<form enctype="multipart/form-data" method="POST" action="/procedure">
        
    <h2>Task</h2>
    <input type="radio" name="task" value="Modelling" checked> Modelling<br>
    <input type="radio" name="task" value="Prediction"> Prediction<br>

    <h2>Method</h2>
    <input type="checkbox" name="reg1" value="True"> Regression 1<br>
    <input type="checkbox" name="reg2" value="True"> Regression 2<br>
    <input type="checkbox" name="reg3" value="True"> Regression 3<br>
    <input type="checkbox" name="clu1" value="True"> Clustering 1<br>
    <input type="checkbox" name="clu2" value="True"> Clustering 2<br>
    <input type="checkbox" name="clu3" value="True"> Clustering 3<br>
    <input type="checkbox" name="cla1" value="True"> Classification 1<br>
    <input type="checkbox" name="cla2" value="True"> Classification 2<br>
    <input type="checkbox" name="cla3" value="True"> Classification 3<br>

    <h2>Data (csv)</h2>
    If task is prediction, be sure to have a last column with class variable.<br>
    <input type="file" name="data" /><br>
    <br>
    <button type="submit">go</button><br>
</form>

</body>

